@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../font/material-icons.woff2) format('woff2'), url(../font/material-icons.woff) format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../font/material-icons-outlined.woff2) format('woff2'),
      url(../font/material-icons-outlined.woff) format('woff');
}
.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'KaTeX_AMS';
  src: url(../font/KaTeX_AMS-Regular.woff2) format('woff2'), url(../font/KaTeX_AMS-Regular.woff) format('woff'),
      url(../font/KaTeX_AMS-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url(../font/KaTeX_Caligraphic-Bold.woff2) format('woff2'),
      url(../font/KaTeX_Caligraphic-Bold.woff) format('woff'),
      url(../font/KaTeX_Caligraphic-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url(../font/KaTeX_Caligraphic-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Caligraphic-Regular.woff) format('woff'),
      url(../font/KaTeX_Caligraphic-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Fraktur';
  src: url(../font/KaTeX_Fraktur-Bold.woff2) format('woff2'), url(../font/KaTeX_Fraktur-Bold.woff) format('woff'),
      url(../font/KaTeX_Fraktur-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Fraktur';
  src: url(../font/KaTeX_Fraktur-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Fraktur-Regular.woff) format('woff'),
      url(../font/KaTeX_Fraktur-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(../font/KaTeX_Main-Bold.woff2) format('woff2'), url(../font/KaTeX_Main-Bold.woff) format('woff'),
      url(../font/KaTeX_Main-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(../font/KaTeX_Main-BoldItalic.woff2) format('woff2'),
      url(../font/KaTeX_Main-BoldItalic.woff) format('woff'),
      url(../font/KaTeX_Main-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(../font/KaTeX_Main-Italic.woff2) format('woff2'), url(../font/KaTeX_Main-Italic.woff) format('woff'),
      url(../font/KaTeX_Main-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url(../font/KaTeX_Main-Regular.woff2) format('woff2'), url(../font/KaTeX_Main-Regular.woff) format('woff'),
      url(../font/KaTeX_Main-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url(../font/KaTeX_Math-BoldItalic.woff2) format('woff2'),
      url(../font/KaTeX_Math-BoldItalic.woff) format('woff'),
      url(../font/KaTeX_Math-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url(../font/KaTeX_Math-Italic.woff2) format('woff2'), url(../font/KaTeX_Math-Italic.woff) format('woff'),
      url(../font/KaTeX_Math-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(../font/KaTeX_SansSerif-Bold.woff2) format('woff2'),
      url(../font/KaTeX_SansSerif-Bold.woff) format('woff'),
      url(../font/KaTeX_SansSerif-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(../font/KaTeX_SansSerif-Italic.woff2) format('woff2'),
      url(../font/KaTeX_SansSerif-Italic.woff) format('woff'),
      url(../font/KaTeX_SansSerif-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url(../font/KaTeX_SansSerif-Regular.woff2) format('woff2'),
      url(../font/KaTeX_SansSerif-Regular.woff) format('woff'),
      url(../font/KaTeX_SansSerif-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Script';
  src: url(../font/KaTeX_Script-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Script-Regular.woff) format('woff'),
      url(../font/KaTeX_Script-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size1';
  src: url(../font/KaTeX_Size1-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Size1-Regular.woff) format('woff'),
      url(../font/KaTeX_Size1-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size2';
  src: url(../font/KaTeX_Size2-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Size2-Regular.woff) format('woff'),
      url(../font/KaTeX_Size2-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size3';
  src: url(../font/KaTeX_Size3-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Size3-Regular.woff) format('woff'),
      url(../font/KaTeX_Size3-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size4';
  src: url(../font/KaTeX_Size4-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Size4-Regular.woff) format('woff'),
      url(../font/KaTeX_Size4-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Typewriter';
  src: url(../font/KaTeX_Typewriter-Regular.woff2) format('woff2'),
      url(../font/KaTeX_Typewriter-Regular.woff) format('woff'),
      url(../font/KaTeX_Typewriter-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}